@use "../../../../styles/index" as *;

:host {
  display: block;
  width: 100%;
}

.authenticate {
  background-color: rgba(black, .5);
  display: flex;
  align-items: center;

  font-size: .75rem;
}

.authenticate a {
  flex: 1;
  padding: 0.5rem;
}

@media (min-width: $breakpoint-TABLET) {
  .authenticate {
    justify-content: flex-end;

  }
  .authenticate a {
    flex: 0;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}




.user-info {
  background-color: rgba(darkgreen, .5);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;

}

.user-info__details {
  display: flex;
  gap: 0.5rem;
  background-color: rgba(black, .1);


}

.role {
  background-color: rgba(black, .1);
  font-size: .75rem;
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
}

button {
  background-color: rgba(black, .5);
  color: white;
  padding: 0.5rem;


  &:hover {
    background-color: #333;
    color: white;
  }
}
