$themes: (
  'Default': (
    background: #FFFFEE,
    text: #333333
  ),
  'HighContrast': (
    background: #000000,
    text: #FFFF00
  ),
  'Tritanopia': (
    background: #E5E5E5,
    text: #330066
  ),
  'LowContrast': (
    background: #FFFFCC,
    text: #333333
  ),
  'Purple': (
    background: #FFEC07,
    text: #871C9A
  ),
  'RedGreen': (
    background: #78B389,
    text: #B32357
  )
);
