<div class="backdrop" (click)="closeOverlay()" aria-hidden="true"></div>

<div class="overlay" role="dialog">

  <div class="search-container">
    <app-search-input
      [query]="query()"
      (queryChange)="onQueryChange($event)"
    ></app-search-input>

    <!-- Results Summary -->
    <!-- <p *ngIf="results().length > 0">Results: {{ results().length }}</p> -->

    <!-- Results Overlay -->
    <div class="search-results-overlay" *ngIf="results().length > 0">
      <app-search-results
        [results]="results()"
      ></app-search-results>
    </div>

    <!-- No Results Message -->
    <p *ngIf="!loading() && results().length === 0 && query().length >= 3">
      No results found for "{{ query() }}"
    </p>
  </div>
</div>
