@use 'styles/index' as *;

ul {
    background-color: rgba(black, .1);
}

.desktop {
    display: flex;
    background-color: rgba(black, .2);
}

a { 
    display: block;
    @include underline-style;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1;

    &:hover {
        background-color: white;
    }
}

.active {
    background-color: white;
    // TODO: Change
}
