<div class="login">
  <h1>Login</h1>
  <div class="quick-login">
    <button (click)="authStore.login('test0209@test0209.com', 'test0209')">Login as Authenticated</button><br>
    <button (click)="authStore.login('author@author.com', 'author')">Login as Author</button><br>
    <button (click)="authStore.login('donald@donald.com', 'donald')">Login as Admin</button>
  </div>


  <form (ngSubmit)="onLogin()">
    <label for="identifier">Identifier</label>
    <input id="identifier" [(ngModel)]="identifier" name="identifier" required />
    <br>

    <label for="password">Password</label>
    <input id="password" [(ngModel)]="password" name="password" type="password" required />
    <br>

    <div *ngIf="authStore.loading$$()">Loading...</div>  <!-- Reactive loading indicator -->

    <div *ngIf="authStore.error$$()">{{ authStore.error$$() }}</div>  <!-- Error handling -->

    <button type="submit" [disabled]="authStore.loading$$()">Login</button>  <!-- Disable when loading -->
  </form>
</div>
