.hidden {
    display: none !important;
}

.nav-open {
    overflow: hidden;
}

.text-center {
    text-align: center;
}


@media (prefers-color-scheme: dark) {
    :root {
      --background-color: #111;
      --text-color: #eee;
    }
    body {
      background-color: var(--background-color);
      color: var(--text-color);
    }
}
  