<!-- <ng-container *ngIf="!isBackendAvailable()">
  <div class="backend-warning">
    <p>The backend service is currently unavailable. Some features may not work.</p>
  </div>
</ng-container> -->
<div class="site-container">
  <app-header />
  <app-notifications />
  <router-outlet></router-outlet>
  <app-panel>
    <app-theme-selector *ngIf="panelStore.activePanel() === 'theme'">></app-theme-selector>
    <app-nav *ngIf="panelStore.activePanel() === 'nav'"></app-nav>
    <app-search *ngIf="panelStore.activePanel() === 'search'"></app-search>
  </app-panel>
</div>
<app-footer />
