:host {
  display: block;
}

.hero {
  background-color: grey;
  background-image: url('/images/hero.webp');
  background-size: cover;
  background-position: top;
  min-height: 300px;
  height: 25vw;
  width: 100vw;
  display: flex;
  align-items: flex-end;
}

.sections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem;
}

section {
  background-color: rgba(black, .1);
  // background-color: rgba(#ffffee, .8);
  padding: 1rem;
}
