<section class="user-info" *ngIf="isLoggedIn; else loginBlock">
  <div class="user-info__details">
    <span class="material-symbols-outlined">person</span>
    <span class="username">{{ username }}</span>
    <span class="role">{{ role }}</span>
  </div>
  <button (click)="authStore.logout()">Logout</button>
</section>

<ng-template #loginBlock>
  <nav class="authenticate">
    <a *ngIf="'login' | featureFlag" routerLink="/login">Login</a>
    <a *ngIf="'register' | featureFlag" routerLink="/register">Register</a>
  </nav>
</ng-template>
