@use 'styles/abstracts/variables';
@use 'styles/abstracts/breakpoints';
@use 'styles/abstracts/mixins';

@use 'styles/base/reset';
@use 'styles/base/typography';

@use 'styles/layout/container';
@use 'styles/utilities/helpers';




body {
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
