.container--approved {
}

.container--pending {
}

:host {
  display: block;
  // margin: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  background-color: rgba(black, .1);
  padding: 1rem;
  margin: 1rem 0;
}


