<div *ngIf="loading; else eventList">
  Loading events...
</div>

<ng-template #eventList>
  <ul class="event-list" *ngIf="events.length; else noEvents">
    <li *ngFor="let event of events">
      <a class="event-list__item" routerLink="/events/{{ event.slug }}">
        <h3>{{ event.title }}</h3>
        <app-date [date]="parseDate(event.date)"></app-date>
      </a>
    </li>
  </ul>
  <ng-template #noEvents>
    <p>No events available.</p>
  </ng-template>
</ng-template>

<div *ngIf="error">{{ error }}</div>
