
<!-- TODO: Pagination -->

<div class="container container--{{ filterStatus() }}">


  <!-- TODO: Hero -->
  <h1>Events</h1>

  <nav class="actions">
    <!-- If the user can create Event -->
    @if (authStore.canCreateEvent()) {
      <p>You are an admin/author and can create a new event.
        <a routerLink="/events/new">Create New Event</a>
      </p>
    }

    <!-- If the user can review Events -->
    @if (authStore.canReviewEvents()) {
      <p>You are an admin and can review events.
        <a routerLink="/events/review">Review Pending Events</a>
      </p>
    }
  </nav>

  <div *ngIf="eventStore.loading$$(); else eventList">
    Loading events...
  </div>

  <ng-template #eventList>
    <app-event-list [events]="filteredEvents()" [loading]="loading" [error]="error"></app-event-list>
  </ng-template>

  <!-- TODO: Handle errors -->
</div>
