<div class="container">
  <h1>Events</h1>

  @if (error()) {
    <p class="error">{{ error() }}</p>
  } @else {

    @if (paginatedEvents.length > 0) {
      <ol class="approved-events">
        @for (event of paginatedEvents; track event.id) {
          <li>
            <app-event-list-item
              [event]="event"
              (clicked)="onItemClicked(event)" />
          </li>
        }
      </ol>

      <app-pagination
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      ></app-pagination>

    } @else {
      <p>No events found.</p>
    }
  }
</div>
