.container--approved {
}

.container--pending {
}

:host {
  display: block;
  // margin: 1rem;
}

.actions {
  background-color: rgba(black, .1);
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


